.about-container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  font-family: 'Pretendard', sans-serif;
  color: #222;
  flex-wrap: wrap;
   height: 100vh;
  scroll-snap-align: start;
}

.left-section {
  flex: 1;
  min-width: 250px;
  text-align: center;
}

.profile-photo {
  max-width: 220px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.name {
  font-size: 22px;
  margin-top: 1rem;
  font-weight: bold;
}

.right-section {
  flex: 3;
  min-width: 300px;
}

.summary {
  background: #f9f9f9;
  padding: 1.5rem;
  border-radius: 10px;
  line-height: 1.6;
}

.info-columns {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}

.work-section, .education-section {
  flex: 1;
  min-width: 280px;
}

.work-section h3, .education-section h3 {
  color: #5B5147; 
  font-size: 20px;
  border-bottom: 2px solid #5B5147; ;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

ul {
  list-style-type: disc;
  margin-left: 1rem;
}

.date {
  font-size: 13px;
  color: #888;
}
@media (max-width: 966px){
    .info-columns {gap: 0;}
}
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    align-items: center;
  }

  .info-columns {
    flex-direction: column;
    gap: 0;
  }

  .right-section {
    width: 100%;
  }

  .summary {
    text-align: center;
  }

  .work-section, .education-section {
    width: 100%;
  }
}
